{% extends "base.html" %}

{% block title %}
    Create a new project
{% endblock title %}
<header>
    <nav>
        <a href="{% url 'list_projects' %}">List projects</a>
    </nav>
</header>
{% block content %}
    <main>
        <div>
            <h1>Create a new project</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Create</button>
                <p>{{ project_object.description }}</p>
                <h2>Tasks</h2>
            </form>
        </div>
    </main>
{% endblock content %}
