{% extends "base.html" %}

{% block title %}
    {{ project_object.title }}
{% endblock title %}
{% block content %}
    <header>
        <nav>
            <a href="{% url 'list_projects' %}">List Projects</a>
            {% for project in list_projects %}
                <a href="{% url 'show_project' project.id %}">Project {{ project.id }} Details</a>
            {% endfor %}
            <a href="{% url 'create_project' %}">Create Project</a>
        </nav>
    </header>
    <main>
        <div>
            <h1>My Projects</h1>
            {% if list_projects|length %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of tasks</th>
                            <th>id</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in list_projects %}
                            <tr>
                                <td>{{ project.name }}</td>
                                <td>{{ project.tasks.all|length }}</td>
                                <td>{{ project.id }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You are not assigned to any projects.</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
